<%= link_to  "New Blog Entry", new_blog_path, class: "btn btn-default btn-lg", id: "New-Blog_Entry-btn" %>

<% if @blogs.empty? %>
  <h1 id="no-blog_entries">No Blog Entries Created</h1>
<% else %>
  <% @blogs.each do |b| %>
    <div class="well well-lg">
      <div class="blog-title">
        <%= link_to b.title, blog_path(b) %>
      </div>
      <div class="blog-body">
        <%= truncate(b.body, length: 500) %>
      </div>
    </div>
  <% end %>
<% end %>





