<article class="detail-blog">
  <h1 class="blog-detail-title"> <%= @blog.title %></h1>
  <div class="glyphicon glyphicon-calendar" id="blog-date"> <%= @blog.created_at.strftime("%b %d %Y") %></div>
  <div class="blog body"> <%= @blog.body %></div>

  <%= link_to  "Edit Blog Entry", edit_blog_path(@blog), class: "btn btn-warning btn-lg" %>
</article>